name: PiT
on:
  workflow_dispatch:
  push:
jobs:
  prepare:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged --shm-size=2g
    steps:
      - name: Check out branch
        uses: actions/checkout@v4
      - if: ${{ env.ACT }}
        name: ACT - install dependencies
        run: |
          echo "export PATH='$PATH'" > path.sh
          apt-get update
          apt-get install -y vim iputils-ping sudo unzip wget jq curl
          npm install playwright
          ./node_modules/.bin/playwright install-deps >/dev/null
          ./node_modules/.bin/playwright install chromium

      - uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: stable
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - uses: stCarolas/setup-maven@v5
        with:
          maven-version: '3.9.0'
      - name: Set up Helm
        uses: azure/setup-helm@v3.5
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1
        with:
          install_only: false
      # - name: Install Socat
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y socat
      - name: Instal Kind and Control Center
        env:
          CC_KEY: ${{ secrets.CC_KEY }}
          CC_CERT: ${{ secrets.CC_CERT }}
        run: |
          ./scripts/pit/run.sh --starter=control-center



